.container-transaction-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--bg-color);
  //color: #fff;
  min-height: 100vh;

  h1 {
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
    margin-bottom: 20px;
    color: var(--text-color);
    //color: white;

    th, td {
      border: 2px solid var(--primary-color);
      padding: 10px;
      text-align: left;
    }

    th {
      background-color: var(--primary-color);
    }

    tbody tr {
      &:nth-child(even) {
        background-color: var(--secondary-color);
      }
      &:nth-child(odd) {
        background-color: var(--button-color);
      }
    }
  }

  form {
    border: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;

    input, select, button {
      margin-bottom: 10px;
      padding: 10px;
      border: 1px solid var(--primary-color);
      background-color: var(--primary-color);
      color: white;
      font-size: 16px;
    }

    button {
      cursor: pointer;
      background-color: var(--button-color);
      border-color: var(--button-color);

      &:hover {
        background-color: var(--secondary-color);
        border-color: var(--secondary-color);
      }
    }
  }
}

.loader {
  margin: 20px;
}
